[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0.5"
psycopg2-binary = "==2.9.3"
djoser = "*"
djangorestframework-simplejwt = "*"
django-guardian = "*"
pillow = "*"
drf-nested-routers = "*"
django-filter = "*"
channels = "*"
uvicorn = "*"
channels-redis = "*"

[dev-packages]

[requires]
python_version = "3.10"
